%h3 This is Tim's life management interface

%p This is a private place. Please respect it.

%h2= link_to "Add journal entry", new_journal_entry_path
%h2= link_to "Add workout", new_workout_path
%h2= link_to "Add stressor", new_stressor_path